body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background--custom {
    background: linear-gradient(90deg, #858585, #FF0000, #000000);
    background-size: 300% 300%;
    animation: gradient 4s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

.head {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    font-size: 70px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #000000;
    color: azure;
    width: 50%;
    height: 10%;
    opacity: 70%;
    border-color: rgb(43, 43, 43);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 3rem;
    
}

.card {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    filter: drop-shadow(0 20px 13px rbg(0 0 0 / 0.03)) drop-shadow(0 12px 8px rgb(0 0 0 / 0.079));
}

.card-title {
    font-size: 2.2rem;
    margin: .5rem, 0;
    text-transform: capitalize;
}

.card-img {
    margin: auto;
    width: 40%;
    font-size: 12px;
}

.card-detail {
    font-size: 1.6rem;
}

